@import url('https://fonts.googleapis.com/css?family=Suez+One&display=swap&subset=hebrew');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap&subset=hebrew');

$site-font: 'Varela Round', sans-serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: white;
